[build]
  command = "pnpm install && pnpm run build:web"
  publish = "apps/web/.next"

[[plugins]]
  package = "@netlify/plugin-nextjs"

[build.environment]
  NODE_VERSION = "20"

[functions]
  node_bundler = "esbuild"
  included_files = ["apps/web/node_modules/**", "node_modules/**"]
