[build]
  base = "apps/web"
  command = "cd ../.. && pnpm install && pnpm -w run build:web"
  publish = ".next"

[[plugins]]
  package = "@netlify/plugin-nextjs"

[build.environment]
  NODE_VERSION = "20"
